<div class='footer'>       
    <div class='s-m'>
      <a href="https://web.facebook.com/people/%D8%A7%EF%BA%91%EF%BB%AC%EF%BA%8E%EF%BB%A9-%EF%BA%83%EF%BB%A3%EF%BA%92%EF%BB%B4%EF%BA%AE%EF%BB%B3%EF%BB%9A/100011381646756/" class='i-c'>
        <i class='fa'><fa-icon [icon]="faFacebook"></fa-icon></i>
      </a>
      <a href="https://twitter.com/bahahembeirik" class='i-c'>
        <i class='fa'><fa-icon [icon]="faTwitter"></fa-icon></i>
      </a>
      <a href="https://www.instagram.com/bah_8_/" class='i-c'>
         <i class='fa'><fa-icon [icon]="faInstagram"></fa-icon></i>
      </a>
      <a href="https://www.youtube.com/channel/UCEVTUsP8EKh5Lh4FDpo-fpA" class='i-c'>
         <i class='fa'><fa-icon [icon]="faYoutube"></fa-icon></i>
      </a>
      <a href="https://www.linkedin.com/in/bahah-m-beirik-aa9a7520a/" class='i-c'>
       <i class='fa'><fa-icon [icon]="faLinkedin"></fa-icon></i>
     </a>
     <a href="https://github.com/BahMbeirik" class='i-c'>
        <i class='fa'><fa-icon [icon]="faGithub"></fa-icon></i>
      </a>
     </div>

     <div class='fot'>
        <strong class='sm'>Sign up for our newsletter</strong>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class='inpt' type="email" placeholder='Email address'/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class='pry'>SUBSCRIBE</button>
   </div>
       <br>
      <div class='pg'>
        <p>
        bienvenue sur notre site web, et merci de visiter notre site web. nous sommes là pour vous servir.
         l'inscription sur notre site web vous permettra d'obtenir nos dernières nouvelles. notre site web fournit les services suivants :
         <br>
          développement de sites web
          <br>
          création de sites web
          <br>
          téléchargement sites web à internet .
        </p>
      </div>
       <div id='lsk'>
          <div class='link'>
            <h5>Links</h5>

            <ul >
              <li>
                <a href='/'>
                  Home
                </a>
              </li>
            </ul>
          </div>

          <div class='link'>
            <h5>Links</h5>

            <ul >
              <li>
                <a href='/projer'>
                  Les projers
                </a>
              </li>
            </ul>
          </div>

          <div class='link'>
            <h5 >Links</h5>
            <ul >
              <li>
                <a href='/contact'>
                  Contacter Nous
                </a>
              </li>
            </ul>
          </div>
        </div>

    <div class='tcp' >{{year}} - <span>Inc</span></div>
</div>