<app-navbar></app-navbar>
    <div class='bod'>
      <div class='home'>
          <div class='mn7'>
          <strong>{{'sn' |translate}}</strong>
          </div>
          <div class='g-about'>
          <div class='about'>
          <h2>{{'about' |translate}} <br>
          <p class='sz'>{{'s_about' |translate}}</p></h2>
          </div>
          <div class="loader2">
            <div class="loader_cube loader_cube--color"></div>
             <div class="loader_cube loader_cube--glowing"><img src="logo.png" alt="logo" /><p class="loaderp">bahah</p> </div>
          </div>
          <div class='profil'>
            <div><img class='mg' src="assets\profil.png" alt="logo" /><br> <h2>{{'title' |translate}}</h2>
            <p class='sz'>{{'dw' |translate}}</p>
            <div class="loader"></div>
            </div>
            </div>
          </div>
        </div>
    </div>
<app-footer></app-footer>
